window {
    background-color: rgba(30, 30, 46, 0.8);
    border: 2px solid #8be9fd;
    border-radius: 15px;
}

#input {
    display: none;
    visibility: hidden;
    opacity: 0;
    margin: -50px;
}

#inner-box {
    margin: 10px;
}

#entry:selected {
    background-color: #8be9fd;
    border-radius: 10px;
}
